<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Whatsapp</title>
</head>
<body>
    <h1>TO See Chats Click below Button</h1>
    <a href="http://localhost:8080/chats"><button>Go To Chats</button></a>
</body>
</html>